/* Jason's Work*/
/*
    This layout is intended to be used for all the invidual planet webpages because of their similarity.
    Complementary to general.css, this CSS allows for a more specialized version for each planet's webpage.
    DO NOT include: index.html & sources.html
*/

/* General Body Styling */
body {
    background-image: url(https://i0.wp.com/astronomicca.com/wp-content/uploads/2022/01/Cassiopeia.jpg?resize=1200%2C1200&ssl=1);
}

body>div {
    background-color: rgba(255, 255, 255, 0.925);
    transition: 0.5s;
}

body>div:hover {
    margin: 0.75rem 0.5rem;
}

/* Headings */
h2 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 1%;
    text-decoration: underline;
}

/* Image Styling */
img {
    border-radius: 0.5rem;
}

.gallery,
img {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

.gallery img {
    flex: 1;
    align-items: center;
    margin: auto;
    padding: 5px;
    width: 33%;
    border-radius: 0.5rem;
}

/* Links */
a {
    color: darkblue;
    text-decoration: underline;
    transition: 0.3s;
}

/* Table Style */
table {
    width: 75%;
    margin: auto;
    border: 4px double darkslategray;
    background-color: rgb(175, 232, 255);
    text-align: center;
    border-radius: 0.5rem;
}

tr:first-child {
    background-color: rgb(95, 210, 255);
}

th,
td {
    border: 2px double darkslategray;
    padding: 1rem 0.5rem;
    transition: 0.3s;
}

td:hover {
    color: rgb(120, 66, 0);
    font-size: 110%;
}

/* Simple flex structure */
.flex {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.flex>* {
    flex: 1;
    margin: auto;
    align-items: center;
}

/* Responsive Design */
@media only screen and (max-width: 650px) {
    /* Div */
    div {
        padding: 0.5em;
    }

    /* Gallery and Flexbox */
    .gallery img,
    .flex {
        flex-direction: column;
    }

    .gallery img {
        width: 50%;
    }

    .flex {
        width: 100%;
    }
}